* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
.glav_box {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: #fff;
}
.num_text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: #fff;
}
#input {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  padding-right: 12px;
  color: var(--text-color);
  border: 1px solid #e6e6e6;
  width: 839px;
  outline: none;
  padding-left: 49px;
  height: 50px;
  margin-top: 20px;
}
@media (max-width: 1133px) {
  #input {
    width: 243px;
    height: 40px;
  }
}
.category {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);
  background: #fff;
  width: 1140px;
  height: 70px;
  margin: 0 auto;
  margin-top: 20px;
}
.category_box:hover svg path {
  fill: #d74444;
  cursor: pointer;
  transition: 0.5s;
}
.category_box:hover p {
  color: #d74444;
  transition: 0.5s;
}
.category_box:hover {
  cursor: pointer;
}
.kit {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--text-color);
}
.skidka {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: #d74444;
}
.category_box2 {
  width: 50px;
  height: 50px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);
  background: #fff;
  margin-top: 15px;
}
@media (max-width: 736px) {
  .kit {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 9px;
    color: var(--text-color);
  }
}

.swiper {
  width: 1140px;
  height: 450px;
}
@media (max-width: 1141px) {
  .swiper {
    width: 1000px;
  }
}
.swiper-slide {
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.back_now {
  background-image: url(../img/mebel_two.png);
  width: 1200px;
  height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.res_back {
  background-image: url(../img/loft_mebel.png);
  width: 730px;
  display: flex;
  margin: 0 auto;
  height: 126px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (max-width: 733px) {
  .res_back {
    background-image: url(../img/loft_mebel.png);
    width: 320px;
    display: flex;
    margin: 0 auto;
    height: 126px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
@media (max-width: 349px) {
  .res_back {
    background-image: url(../img/loft_mebel.png);
    width: 100%;
    display: flex;
    margin: 0 auto;
    height: 126px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
@media (max-width: 815px) {
  .back_now {
    background-image: url(../img/mebel_two.png);
    width: 100%;
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .mebel_text {
    color: white;
  }
}
.back_loft {
  background-image: url(../img/loft_mebel.png);
  width: 1200px;
  height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.swiper-button-next {
  background: #fff;
  color: blur white;
  padding: 31px 31px 31px 31px;
  margin-right: 20px;
  opacity: 0.7;
}
.swiper-button-prev {
  background: #fff;
  color: blur white;
  padding: 31px 31px 31px 31px;
  margin-left: 20px;
  width: 30px;
  height: 30px;
  opacity: 0.8;
}
.mebel_text {
  font-family: var(--third-family);
  font-weight: 700;
  font-size: 50px;
  line-height: 105%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #3c3c3c;
  padding-top: 100px;
  padding-left: 120px;
}
.now_text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 141%;
  letter-spacing: 0.02em;
  color: #343434;
  padding-top: 15px;
  padding-left: 121px;
}
.category_btn {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);
  background: #fff;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 12px;
  line-height: 141%;
  letter-spacing: 0.04em;
  color: var(--text-color);
  padding-top: 14px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 14px;
  margin-top: 20px;
  margin-left: 120px;
}
.future_box {
  background: #f4f4f4;
  width: 166px;
  height: 126px;
}
.future_text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 103%;
  color: var(--text-color);
}
.delivery_meb {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 10px;
  line-height: 103%;
  color: var(--text-color);
}
.hits_text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  padding-top: 30px;
  padding-left: 140px;
  padding-bottom: 67px;
  color: var(--text-color);
}
.cart_text {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 26px;
  color: var(--text-color);
}
.clear_btn {
  display: flex;
  margin: 0 auto;
  margin-top: 120px;
  padding-top: 13px;
  padding-left: 50px;
  padding-bottom: 12px;
  padding-right: 50px;
  background: #245462;
  font-weight: 400;
  font-size: 13px;
  color: #fff;
}
.clear_btn:hover {
  background-color: transparent;
  border: 1px solid #245462;
  cursor: pointer;
  transition: 1s;
  color: #245462;
  border-radius: 20px;
}
.item {
  width: 263px;
  height: 468px;
}
@media (max-width: 666px) {
  .item {
    width: 157px;
  }
  .container {
    display: none;
  }
  .add-to-cart {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 9px;
    width: 123px;
    height: 40px;
  }
}
.add-to-cart {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 13px;
  color: #fff;
  background-color: #245462;
  padding-top: 12px;
  padding-left: 50px;
  padding-bottom: 12px;
  margin-left: 20px;
  padding-right: 50px;
  opacity: 0;
  margin-top: 12px;
}

.brand_text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: var(--text-color);
  padding-top: 54px;
  padding-left: 20px;
}
.add-to-favorites {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 11px;
  color: var(--text-color);
  padding-top: 6px;
  padding-left: 20px;
}
.money_text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: var(--text-color);
  padding-top: 9px;
  padding-left: 20px;
}
.item:hover {
  box-shadow: 0 1px 9px 0 rgba(0, 0, 0, 0.11);
  cursor: pointer;
  transition: 0.5s;
}
.item:hover .add-to-cart {
  opacity: 1;
  transition: 1s;
}
.we_text {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 22px;
  line-height: 120%;
  color: #1f2026;
  padding-top: 23px;
  padding-left: 30px;
}
.we_like {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 26px;
  color: var(--text-color);
}
.clear {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 12px;
  line-height: 141%;
  letter-spacing: 0.04em;
  color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);
  background: #fff;
  cursor: pointer;
  padding-top: 14px;
  padding-left: 25px;
  padding-bottom: 14px;
  padding-right: 25px;
  background-color: #d74444;
}
.clear:hover {
  border-radius: 20px;
  border: 1px solid #d74444;
  color: #d74444;
  transition: 1s;
  background-color: transparent;
}

.container {
  text-align: center;
  font-size: 20pt;
  font-family: "arial";
  margin-left: 130px;
}

.fas {
  color: blueviolet;
}

.heart {
  cursor: pointer;
}

.pulse {
  animation: pulse 0.5s;
}
.nav {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 127%;
  color: #000;
  padding-top: 54px;
}
.foot {
  box-shadow: 0 -4px 10px 0 rgba(0, 0, 0, 0.03);
  background: #fff;
}
.foot_ul ul li a {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 127%;
  color: var(--text-color);
  padding-top: 7px;
}
.action{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 127%;
  color: #d74444;
  padding-top: 34px;
}
.new{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 127%;
  color: var(--text-color);
  padding-top: 34px;
}
.location{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 127%;
  text-align: right;
  color: var(--text-color);
  padding-top: 20px;
}
.social div p{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 127%;
  text-align: right;
  color: var(--text-color);
}
@media (max-width: 1213px) {
  .location{
    text-align: center;
  }
  .footer{
     display: flex;
     justify-content: center;
  }
}